source https://nuget.org/api/v2
redirects: on
group Build
  source https://nuget.org/api/v2
  redirects: on
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting 2.14.1
  nuget Suave
  nuget FSharp.Compiler.Tools
  nuget FSharp.Compiler.Service
  nuget Newtonsoft.Json
  nuget FSharp.Core
  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  redirects: on
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
  nuget FsUnit
  nuget FSharp.Data